:root {
    --editor-header-height: 48px;
    --editor-footer-height: 48px;
}

.editor-header{
    height:var(--editor-header-height);
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:var(--app-border);
}

.editor-footer{
    height:var(--editor-footer-height);
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top:var(--app-border);
}

.editor-content{
    height:calc(100vh - (var(--editor-footer-height) + var(--editor-header-height) + 1px)); 
}

.editor-content .preview-pannel{
    box-sizing: border-box;
    width: 100%;
    overflow-wrap: anywhere;
    padding: 0 1rem 0 0;
}

.editor{
    box-sizing: border-box;
    height: 100vh;
}

.resize-pannel-container{
    display:flex;
    height:100%;
    overflow: hidden;
}

.resize-pannel-container .pannel-resizable{
    overflow:auto;
    height:100%;
}

.resize-pannel-container .pannel-resizable.magnetic{
    transition: width 300ms ease;
}

.resize-pannel-container .pannel-separator{
    cursor: ew-resize;
    display:flex;
    direction:column;
    width:24px;
    border-left: var(--app-border);
    justify-content: center;
    align-items: center;
    box-shadow:none;
    transition: box-shadow 200ms ease-in-out;
    position: relative;
}

.resize-pannel-container .pannel-separator:active {
    box-shadow: rgb(0 0 0 / 1%) 0px 19px 77px 0px, rgb(0 0 0 / 3%) -6px 0px 10px -1px;
}

.resize-pannel-container .pannel-separator .pannel-drag-handle{
    content: " ";
    position: absolute;
    width:100%;
    height:100%;
    /*background:rgb(0 0 0 / 50%);*/
}

.resize-pannel-container .pannel-separator .pannel-drag-handle:active{
    position:absolute;
    width:100vw;
    height:100vh;
    
}

.resize-pannel-container .pannel-handle{
    width:0.30rem;
    height:3rem;
    border-left:1px solid rgba(0, 0, 0, 0.15);
    border-right:1px solid rgba(0, 0, 0, 0.15);
}

.resize-pannel-container .pannel-resizable,
.resize-pannel-container .pannel-separator,
.editor-textarea{
    scrollbar-width: none;
}


.editor-textarea{
    font-family: "Segoe UI";
    font-size:1.05rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    width:100%;
    height:100%;
    padding:1rem;
    border: 0rem solid transparent;
    resize:none;
}
.editor-textarea::-webkit-scrollbar,
.pannel-resizable::-webkit-scrollbar {
    display: none;
}

.editor-textarea:focus{
    outline:none;
}