<div
  style='display:flex;flex-direction:column;justify-content:space-between;gap:5px;padding:10px 0px 10px 0px;'
>
  <div
    style='display:flex;justify-content:space-between;padding:10px 0px 10px 0px;'
  >
    <h5>Grading</h5>
    <span>Grading Status: {{studentAnswer.studentGrading.status}}</span>
  </div>
  <span>Points Obtained: {{studentAnswer.studentGrading.pointsObtained}}</span>
  <span>Signed By: {{studentAnswer.studentGrading.signedBy.name}}</span>
  <span>Comment: {{studentAnswer.studentGrading.comment}}</span>
</div>