<div
  style='display:flex;justify-content:space-between;width:100%;padding: 10px 0px 10px 0px;'
>
  <h4>Q{{order}} ({{formatQuestionType question.type}}) {{question.title}}</h4>
  <div style='margin-left: 10px;white-space: nowrap;'>{{points}} points</div>
</div>