<div style="display:flex;flex-direction:column;gap:15px;">
  {{> studentAnswerHeader studentAnswer}}
  <div>
    <span>{{#if studentAnswer.trueFalse.isTrue}}True{{else}}False{{/if}}</span>
  </div>
</div>