<!-- studentPartial.handlebars -->
<div
  style='display:flex;padding: 10px 0px 10px 0px; gap:5px; border-bottom: 1px solid {{muiTheme.palette.divider}};'
>
  <span class='body1'>{{name}}</span>
  <span class='body2'>({{email}})</span>
</div>