<div style="display:flex;flex-direction:column;gap:15px;">
    {{> studentAnswerHeader studentAnswer}}

    
    {{#each studentAnswer.code.codeReading.outputs}}

      {{> codeBloc this.codeReadingSnippet.snippet}}

      <div style="display: flex; justify-content: space-between; align-items: flex-start">
        <label style="width: 150px;">Student Output:</label>
        <span style="flex:1;">{{> codeBloc this.output}}</span>
      </div>

      <div style="display: flex; justify-content: space-between; align-items: flex-start">
        <label style="width: 150px;">Status:</label>
        <span style="flex:1;" class="{{#if (eq this.status 'MATCH')}}success{{else}}error{{/if}}">
          {{#if (eq this.status 'NEUTRAL')}}
            MISSING
          {{else}}
            {{this.status}}
          {{/if}}
        </span>
      </div>
    {{/each}}
</div>